@font-face {
    font-family: 'Eracake';
    src: url('./fonts/Eracake.otf') format('opentype');
    font-display: block;
}

.options-container {
    margin: auto;
    margin-top: clamp(12px, 1vw, 50px);
    margin-bottom: 0px;
    max-width: 95%;
    width: 100%;
    display: grid;
    display: grid;
    grid-template-columns: 1fr;
    gap: clamp(14px, 2vw, 64px); /* Space between columns */
    justify-items: center; /* Center content horizontally */
    align-items: stretch; /* Center content vertically */
    align-content: center;
    justify-content: center;
}

.option.selected .responsive-svg {
    animation: wiggle 1s linear infinite;
}


/* Keyframe for spinning/ wiggle effect */
@keyframes wiggle {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(5deg); }
    50% { transform: rotate(0deg); }
    75% { transform: rotate(-5deg); }
    100% { transform: rotate(0deg); }
}
@keyframes wiggle-360 {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(360deg); }
    50% { transform: rotate(0deg); }
    75% { transform: rotate(-5deg); }
    100% { transform: rotate(0deg); }
}

.option {
    background-color: hsl(275, 65%, 30%);
    border: #555 solid 1px;
    padding: clamp(12px, 1.5vw, 128px) 12px;
    width: 100%;
    border-radius: clamp(30px, 4vw, 100px);
    transition: background-color 200ms ease-in-out, box-shadow 200ms ease-in-out;
    box-shadow: #000 0px 0px 5px 5px;
    -webkit-box-shadow: #000 0px 0px 5px 0px;
    -moz-box-shadow: #000 0px 0px 5px 5px;
    box-sizing: border-box;
}

.option:hover {
    box-shadow: #c8a3ea 0px 0px 2px 2px;
    -webkit-box-shadow: #c8a3ea 0px 0px 2px 2px;
    -moz-box-shadow: #c8a3ea 0px 0px 2px 2px;
}

.option.selected {
    box-shadow: #c8a3ea 0px 0px 5px 5px;
    -webkit-box-shadow: #c8a3ea 0px 0px 5px 5px;
    -moz-box-shadow: #c8a3ea 0px 0px 5px 5px;
    background-color: #7f38b2;
}

.option-name{
    font-family: 'Eracake', 'Trebuchet MS', sans-serif;
    padding: 12px;
    padding-bottom: 12px;
    margin: auto;
    font-size: clamp(24px, 5vw, 128px);
    font-weight: 900;
}

.greyed-out {
    background-color: #555;
}

.greyed-out:hover {
    background-color: #555;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
}

.container.horizontal-flex {
    display: flex;
    gap: clamp(8px, 2vw, 48px);
    flex-direction: column;
}

@media (width > 700px) {
    .options-container {
        grid-template-columns: 1fr 1fr;
    }
    .container.horizontal-flex {
        display: flex;
        flex-direction: row;
    }
}

/* @media (width > 3000px) {
    .options-container {
        max-width: none;
        padding: 3em;
        gap: 3em;
    }
    .option-name {
        font-size: 10em;
    }
} */