.color-selector-container {
    margin: 20px;
    padding: 20px;
    background-color: #5f5f5f;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border-radius: 10%;
    gap: 0px;
}

.color-swatch {
    width: min(10vw, 75px);
    height: 75px;
    border: 3px solid #444;
    border-radius: 40%;
    margin: auto;
}

.color-swatch.selected {
    border: 3px solid #FFF;
}