:root {
    --scale-size: 0.7; /* Default size */
  }
  
  @media (max-width: 700px) {
    :root {
      --scale-size: 0.4;
    }
  }

.game-flow {
    color: var(--text-color-high-contrast);
    position: relative;
    font-family: 'Eracake', 'Trebuchet MS', sans-serif;
    margin: clamp(24px, 2vw, 96px) auto;
}

.activity-header {
    font-size: clamp(24px, 5vw, 96px);
}

.game-flow.conversation-card {
    font-family: Arial, sans-serif;
}

.game-flow.conversation-card.question {
    animation-delay: 1s;
}

.game-flow.conversation-card.answer {
    animation-delay: 4s;
}

.game-flow.conversation-card.answer:last-of-type {
    animation-delay: 3s;
}

h2.game-flow {
    font-size: clamp(36px, 6vw, 240px);
}

h1.game-flow {
    animation: text-glow 1s ease-in-out infinite, slide-in 200ms forwards 0.5s;
    margin-top: 0;
    font-size: clamp(56px, 10vw, 400px);
    text-shadow: #FFF 1px 0 10px;
}

h3.game-flow {
    font-size: clamp(36px, 5vw, 240px);
    font-family: Arial, sans-serif;
}

h4.game-flow {
    font-size: clamp(24px, 2.5vw, 100px);
    font-weight: 100;
    font-family: Arial, sans-serif;
    margin: 0 auto;
}

h6.game-flow {
    font-size: clamp(24px, 2.5vw, 100px);
    margin-bottom: 0;
}

.slide-in-from-left {
    left: -100%;
    animation: slide-in 200ms ease-in-out forwards;
    opacity: 0%;
}

p.game-flow.slide-in-from-left.shrink.text-glow {
    left: -100%;
    animation: 
        slide-in 200ms ease-in-out forwards, 
        shrink 400ms ease-in 750ms forwards, 
        text-glow 1s ease-in-out 2;
    opacity: 0%;
    white-space: nowrap;
}

.absolute-top-left {
    position: absolute;
    top: clamp(5px, 4vw, 140px);
    right: calc(clamp(0px, 4vw, 30px) - 30px);
}

.appear-after-2s {
    transform: scale(0); /* Start at miniscule size */
    opacity: 0; /* Make it invisible */
    transition: transform 1s ease, opacity 1s ease; /* Animation duration and easing */
    animation: delay 7s forwards; /* Delay before appearing */
  }
  
  @keyframes delay {
    0% {
      transform: scale(0);
      opacity: 0;
    }
    50% {
        transform: scale(0);
        opacity: 0;
      }
    100% {
      transform: scale(var(--scale-size)); /* Grow to original size */
      opacity: 1;
    }
  }

@keyframes slide-in {
    100% {
        left: 0px;
        opacity: 100%;
    }
}

@keyframes shrink {
    100% {
        font-size: clamp(19.2px, 3vw, 100px);
        margin: clamp(12px, 1vw, 48px) auto;
    }
}

@keyframes text-glow {
    
    0% {
        text-shadow: var(--text-color-high-contrast) 1px 0 0px;
    }
    50% {
        text-shadow: var(--text-color-high-contrast) 1px 0 10px;
    }
    1000% {
        text-shadow: var(--text-color-high-contrast) 1px 0 0px;
    }
}

@media (width > 700px) {
    h3.game-flow {
        text-align: left;
    }
    h4.game-flow {
        text-align: right;
    }
}