/* .header-wrapper {
  position: relative;
} */

.header {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  width: 100%;
  color: var(--text-color-primary);
  background-color: var(--bg-color-primary);
  height: clamp(30px, 4vw, 140px);
  margin: 0;
  box-shadow: #000000 5px 0px 5px 5px;
  -webkit-box-shadow: #000000 5px 0px 25px 5px;
  -moz-box-shadow: #000 5px 0px 5px 5px;
}

.header>* {
  font-weight: bold;
  font-family: monospace;
  text-align: center;
  margin: 0;
  font-size: clamp(20px, 3vw, 80px);
  white-space: nowrap;
  /* Remove default margins from the <p> tags */
}

.margin-zero h2 {
  margin: 0;
}

.header button {
  border-radius: 0px;
  background-color: var(--bg-color-primary);
  color: var(--text-color-primary);
  border: none;
  transition: letter-spacing 0.2s ease;
}

.header button:hover {
  letter-spacing: 0.2em;
}

p.header-main-text {
  font-size: clamp(24px, 4vw, 100px);
    margin: clamp(0px, 1vw, 40px);
}