.modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal p {
  font-size: clamp(1rem, 2vw + 1rem, 7rem);
}

.modal-content {
  background-color: var(--modal-bg-color);

  padding: clamp(20px, 2vw, 80px);
  border-radius: clamp(20px, 5vw, 80px);
  border: var(--modal-border-color) solid clamp(10px, 2vw, 20px);
  width: clamp(400px, 40vw, 2500px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  text-align: center;
}

.modal-content button {
  margin: clamp(10px, 1vw, 40px);
  padding: clamp(10px, 1vw, 20px) clamp(20px, 1vw, 40px);
  border: none;
  border-radius: clamp(5px, 5vw, 20px);
  cursor: pointer;
  font-size: clamp(1rem, 2vw + 1rem, 7rem);
}

.modal-content button:first-of-type {
  background-color: #28a745;
  color: white;
}

.modal-content button:last-of-type {
  background-color: #dc3545;
  color: white;
}

.modal-content button:hover {
  box-shadow: #fff 0px 0px 12px 12px;
}

.modal-content button.question-option {
  color: black;
  background-color: var(--input-color);
}
