.player-ready-display {
    width: 95%;
    display: grid;
    gap: 12px;
    grid-template-columns: repeat(auto-fit, minmax(100%, 1fr)); /* Adjust 150px as needed */
    align-items: center;
    justify-content: center;
}


.player-ready-element {
    height: 62px;
    font-size: 36px;
    display: flex;
    align-items: center;
    padding: 10px;
    font-family: monospace;
    background-color: #444;
    border: 1px white solid;
    border-radius: 50px;
    box-shadow: 0 0 25px 5px black;
    flex-shrink: 1;
    max-width: 95%;
    margin:auto;
    padding-right: 20px;
}

.player-name {
    max-width: 80%;
    margin: 0;
    padding-left: 10px;
    font-weight: bold;
    overflow: hidden;
}

.player-ready-element .lil-guy {
    margin: 0;
}

.player-status {
    width: 30px;
    height: 30px;
    background-size: cover;
    background-position: center;
    border-radius: 50%; /* Makes it a circle */
}

/* Player is ready - use a checkmark background image */
.player-ready {
    background: url("../resources/check-symbol-4794.png") no-repeat right 5px bottom 5px;
    background-size: 50px 50px;
    background-color: #009000; /* Light green for ready */
}

/* Player is not ready - use a hourglass sign background image */
/* .player-wait {
} */

