/* styles.css */
:root {
  --bg-color-primary: #31065b;
  --bg-color-secondary: #c8a3ea;
  --text-color-primary: #c8a3ea;
  --text-color-dark: #31065b;
  --input-color: #8f54c5;
  --character-color: #a65bdc;
  --modal-bg-color: #31065b;
  --modal-border-color: #c8a3ea;

  /* Apply transitions to all variables */
  transition: 
    --bg-color-primary 0.2s ease,
    --bg-color-secondary 0.2s ease,
    --text-color-primary 0.2s ease,
    --text-color-dark 0.2s ease,
    --input-color 0.2s ease,
    --character-color 0.2s ease;
}

[data-theme="PURPLE"] {
  --bg-color-primary: #31065b;
  --bg-color-secondary: #c8a3ea;
  --text-color-primary: #c8a3ea;
  --text-color-dark: #31065b;
  --input-color: #8f54c5;
  --character-color: #a65bdc;
  --modal-bg-color: #31065b;
  --modal-border-color: #c8a3ea;
}

[data-theme="RED"] {
  --bg-color-primary: #9a0000;
  --bg-color-secondary: #FFCCCC;
  --text-color-primary: #FFCCCC;
  --text-color-dark: #770000;
  --input-color: #FFCCCC;
  --character-color: #FF0000;
  --modal-bg-color: #5b0606;
  --modal-border-color: #eaa3a3;
}

[data-theme="YELLOW"] {
  --bg-color-primary: #d7d614;
  --bg-color-secondary: #000000;
  --text-color-primary: #000000;
  --text-color-dark: #000000;
  --input-color: #ffff90;
  --character-color: #ffff00;
  --modal-bg-color: #000000;
  --modal-border-color: hsl(60, 63%, 78%);
}

[data-theme="GREEN"] {
  --bg-color-primary: #00AA00;
  --bg-color-secondary: #d4ffc7;
  --text-color-primary: #d4ffc7;
  --text-color-dark: #008000;
  --input-color: #d4ffc7;
  --character-color: #00FF00;
  --modal-bg-color: hsl(120, 88%, 19%);
  --modal-border-color: hsl(120, 63%, 78%);
}

[data-theme="CYAN"] {
  --bg-color-primary: #66FFFF;
  --bg-color-secondary: #003399;
  --text-color-primary: #003399;
  --text-color-dark: #003399;
  --input-color: #b8ffff;
  --character-color: #66ffff;
  --modal-bg-color: hsl(180, 88%, 19%);
  --modal-border-color: hsl(180, 63%, 78%);
}

[data-theme="MAGENTA"] {
  --bg-color-primary: #c300c3;
  --bg-color-secondary: #ffeeff;
  --text-color-primary: #ffeeff;
  --text-color-dark: #c300c3;
  --input-color: #ffeeff;
  --character-color: hsl(300, 100%, 50%);
  --modal-bg-color: hsl(300, 88%, 19%);
  --modal-border-color: hsl(300, 63%, 78%);
}

[data-theme="ORANGE"] {
  --bg-color-primary: #e77000;
  --bg-color-secondary: #FFFFFF;
  --text-color-primary: #FFFFFF;
  --text-color-dark: #be5c00;
  --input-color: #ffcb9b;
  --character-color: #ff7b00;
  --modal-bg-color: hsl(29, 88%, 19%);
  --modal-border-color: hsl(29, 77%, 54%);
}

[data-theme="DARK_GREEN"] {
  --bg-color-primary: #008000;
  --bg-color-secondary: #DDFFAA;
  --text-color-primary: #DDFFAA;
  --text-color-dark: #005000;
  --input-color: #DDFFAA;
  --character-color: #008000;
  --modal-bg-color: hsl(120, 88%, 19%);
  --modal-border-color: hsl(120, 63%, 78%);
}

[data-theme="BLUE"] {
  --bg-color-primary: #1667ff;
  --bg-color-secondary: #EEFFFF;
  --text-color-primary: #EEFFFF;
  --text-color-dark: #0000FF;
  --input-color: #bbd0ff;
  --character-color: #1667ff;
  --modal-bg-color: hsl(219, 88%, 19%);
  --modal-border-color: hsl(219, 63%, 78%);
}

* {
  box-sizing: border-box;
}

html {
  margin: auto;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
  display: flex;
  flex-direction: column;
  max-height: 50vh;
}

body {
  min-width: 320px;
  color:white;
  font-family: Arial, sans-serif;
  position: relative;
  margin: auto;
  padding: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  min-width: 320px;
  max-width: 4000px;
  background-color: var(--bg-color-primary);
}

#root {
  margin: 0;
  flex-direction: column;
  background-image: 
    radial-gradient(var(--bg-color-secondary) 13.6%, transparent 3.6%),
    radial-gradient(var(--bg-color-secondary) 13.6%, transparent 3.6%);
  background-position: 0px 0px, 5vw 5vw, -0.5vw 0.5vw, 50.4px 61.6px;
  background-size: 10vw 10vw;
  background-color: var(--bg-color-primary);
  min-height: 100vh;
}

#developer-info {
  background-color: black;
  padding: 10px;
}

#app-container {
  padding: 10px;
  
}

/* prevent text highlighting on buttons everywhere */
button, .btn {
  cursor: pointer;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.container {
  padding: clamp(12px, 1vw, 32px);
  text-align: center;
  /* display: grid; */
  place-items: center; /* Centers the child both horizontally and vertically */
  font-size: clamp(32px, 5vw, 72px);
  max-width: min(min(calc(100% - 80px), 80%), 3840px); /*Adjust for padding */
  /* max-width: 3840px; */
  background-color: rgba(34, 34, 34, 0.98);
  border: 2px solid white;
  border-radius: clamp(50px, 2vw, 400px);
  margin: 12px auto;
  -webkit-box-shadow: 0px 20px 25px 5px rgb(0, 0, 0);
  -moz-box-shadow: 0px 20px 25px 5px rgb(0, 0, 0);
  box-shadow: 0px 20px 25px 5px rgb(0, 0, 0);
}

.container.auto-width {
  max-width: 100%;
  padding-left: 12px clamp(12px, 5vw, 200px);
  padding-right: 12px clamp(12px, 5vw, 200px)
}

.container.thinner-container {
  max-width: clamp(820px, 40vw, 2000px);
}

.vertical-flex {
  display: flex;
  flex-direction: column;
  gap: 0px;
}

.vertical-flex > .container {
  max-width: none;
}

.vertical-flex > .container:first-child {
  flex-grow: 1;
  margin-bottom: 0;
}

.container.invisible-container {
  padding: 0;
  margin: 0;
  border: none;
  background: none;
  box-shadow: none;
}

.container.clickable {
  background-color: #fff;
  color: var(--text-color-dark);
  transition: box-shadow 0.3s ease-in-out;
  animation: glow-shadow 1.4s cubic-bezier(0.47, 0, 0.745, 0.715) infinite;
}

@keyframes glow-shadow {
  0% {
    box-shadow: 0px 20px 25px 5px rgb(0, 0, 0), inset 0px 0px 25px 5px white;
  }

  50% {
    box-shadow: 0px 20px 25px 5px rgb(0, 0, 0), inset 0px 0px 55px 5px var(--bg-color-primary);
  }

  100% {
    box-shadow: 0px 20px 25px 5px rgb(0, 0, 0), inset 0px 0px 25px 5px white;
  }
}

.container.clickable:hover {
  animation: none;
  box-shadow: 0px 20px 25px 5px rgb(0, 0, 0), inset 0px 0px 55px 5px var(--bg-color-primary);
}

@media (width < 600px) {
  .container {
      margin-top: 12px;
  }
  .no-top-margin {
    margin-top: 0;
  }
  .container {
    max-width: calc(100% - 80px);
  }

  .vertical-flex > .container:first-child {
    margin-bottom: 12px;
  }
  .vertical-flex > .container:last-child {
    margin-top: 0px;
    margin-bottom: 100px;
  }
}

.big-input {
  margin: 10px;
  padding: 10px;
  font-size: clamp(32px, 5vw, 128px);
  font-family: Arial, sans-serif;
  font-weight: 900;
  text-align: center;
  border-radius: clamp(15px, 2vw, 200px);
  width: 80%;
  background-color: var(--input-color);
  border: white 5px solid;
  -webkit-box-shadow: inset 0px 0px 11px 5px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0px 0px 11px 5px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0px 0px 11px 5px rgba(0, 0, 0, 0.1);
}

.huge-input {
  margin: 10px;
  padding: 10px;
  font-size: clamp(72px, 5vw, 256px);
  font-family: monospace;
  font-weight: 900;
  text-align: center;
  border-radius: clamp(15px, 2vw, 200px);
  background-color: var(--input-color);
  border: white 5px solid;
  -webkit-box-shadow: inset 0px 0px 11px 5px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0px 0px 11px 5px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0px 0px 11px 5px rgba(0, 0, 0, 0.1);
}

#game-id-input {
  width: 3em;
}

.input-error {
  -webkit-box-shadow: inset 0px 0px 11px 5px rgba(255,255,0,1);
  -moz-box-shadow: inset 0px 0px 11px 5px rgba(255,255,0,1);
  box-shadow: inset 0px 0px 11px 5px rgba(255,255,0,1);
  border-color: yellow;
}

.conversation-input {
  resize: none;
  font-size: clamp(28px, 5vw, 48px);
  font-weight: 600;
  font-family: Arial, sans-serif;
  margin: 10px;
  height: 4em;
  /* width: 70%; */
  padding: 10px;
  border-radius: clamp(15px, 2vw, 200px);
  background-color: var(--input-color);
  text-align: center;
  border: white 5px solid;
  -webkit-box-shadow: inset 0px 0px 11px 5px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0px 0px 11px 5px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0px 0px 11px 5px rgba(0, 0, 0, 0.1);
}

.big-button {
  font-family: 'Eracake', 'Trebuchet MS', sans-serif;
  letter-spacing: clamp(0px, 0.2vw, 12px);
  margin: clamp(20px, 2vw, 40px) clamp(20px, 2vw, 80px);
  padding: clamp(10px, 1.4vw, 40px) clamp(20px, 2vw, 80px);
  border: white 2px solid;
  border-radius: clamp(4px, 2vw, 32px);
  cursor: pointer;
  font-size: clamp(20px, 2.5vw, 128px);
  font-weight: 900;
  background-color: white;
  color: var(--text-color-dark);
  transition: background-color 200ms ease-in-out, box-shadow 200ms ease-in-out;
  box-shadow: var(--modal-border-color) 0 0 0 0;
  -webkit-box-shadow: var(--modal-border-color) 0 0 0 0;
  -moz-box-shadow: var(--modal-border-color) 0 0 0 0;
}

.big-button.selected {
  box-sizing: border-box;
  border: white 2px solid;
  background-color: white;
}

.width-4em-centered {
  max-width: 5em;
  margin: auto;
}

.full-height {
  height: 100%;
}

.big-button:hover {
  background-color: white;
  box-shadow: var(--modal-border-color) 0px 0px 5px 5px;
  -webkit-box-shadow: var(--modal-border-color) 0px 0px 5px 5px;
  -moz-box-shadow: var(--modal-border-color) 0px 0px 5px 5px;
}

.big-button:disabled {
  background-color: #CCC;
  color: #888;
  cursor: no-drop;
}

.big-button:disabled:hover{
  box-shadow:none;
  -webkit-box-shadow:none;
  -moz-box-shadow:none;
}

h2 {
  font-size: clamp(30px, 8vw, 200px);
  margin: clamp(10px, 1.5vw, 40px);
}

h2.scan-to-join {
  font-family: 'Eracake', 'Trebuchet MS', sans-serif;
  margin-top: 0;
  font-size: clamp(30px, 4vw, 200px);
}

h2.fun {
  font-family: 'Eracake', 'Trebuchet MS', sans-serif;
}

h3 {
  margin: 12px auto 12px auto;
}

.weaker {
  margin-top: 0;
  color: #777;
  font-size: 20px;
  margin-bottom: 0;
}

.answer-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 columns with equal width */
  gap: 10px;
  margin-top: clamp(12px, 2vw, 48px);
  align-items: stretch; /* Ensures all items in the row stretch to the same height */
  width: 100%;
}

.conversation-card {
  background-color: black;
  color: white;
  border: 2px white solid;
  border-radius: clamp(5px, 2vw, 50px);
  border-top-left-radius: clamp(20px, 9vw, 50px);
  border-top-right-radius: clamp(20px, 9vw, 50px);
}

.conversation-card h2 {
  font-size: clamp(18px, 4.4vw, 128px);
}

.conversation-card.failure {
  opacity: 50%;
}

.question-display {
  display: grid;
  grid-template-rows: repeat(auto-fit, minmax(0, 1fr)); /* Ensures one item per row */
  justify-items: center; /* Centers horizontally */
  align-items: center; /* Centers vertically */
}

.answer-display {
  padding: 12px;
}

p.description {
  margin-top: 0;
  font-size: clamp(24px, 2.5vw, 72px);
  text-align: center;
  margin-bottom: 0px;
}

p.character-count {
  font-size: clamp(16px, 2vw, 48px);
  font-family: monospace;
  margin: 0;
  color: #666;
}

.instruction {
  margin: 0;
  font-size: clamp(18px, 2.5vw, 80px);
}

.instruction.small {
  margin-top: 12px;
  /* font-size: 30px; */
}

.reduced-margin-top {
  margin-top: 0px;
  font-size: clamp(72px, 6vw, 150px);
  margin-bottom: 0px;
  font-family: monospace;
}

.top-align {
  display: flex;
  flex-direction: column;
  justify-items:flex-start;
  width: 100%;
}

.expand-to-fit {
  width: 100%;
  padding: clamp(12px, 2vw, 48px);
}

.two-three-container {
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: min(98%, 3840px);
  width: 98%;
  gap: 2%;
}
.qr-code {
  width: 100%;            
  max-width: max(min(max(800px, 32vw), 50vh), 400px);
  height: auto;
}
.qr-container {
  display: flex;
  flex-direction: column;
  justify-content: center;  /* Center horizontally */
  align-items: center;      /* Center vertically */
  width: 100%;              /* Full width container */
}


.two-three-container > .container {
  max-width: 100%;
  margin-top: 12px;
}

@font-face {
  font-family: 'Eracake';
  src: url('./fonts/Eracake.otf') format('opentype');
}

.logo {
  font-family: 'Eracake', 'Trebuchet MS', sans-serif;
  width: 95%; /* Set width */
  letter-spacing: clamp(0.01rem, 0.9vw, 5rem);
  max-width: 95%;
  margin:auto;
  font-size: clamp(48px, 9vw, 500px);
  text-wrap:nowrap;
  display: inline-block;
  color: orange;
}

@supports (-webkit-text-stroke: 3px black) {
  .logo {
    -webkit-text-stroke: 3px rgb(255, 246, 231);
  }
}

.logo-small {
  font-family: 'Eracake', 'Trebuchet MS', sans-serif;
  color: var(--bg-color-secondary);
  width: 95%; /* Set width */
  max-width: 95%;
  margin:auto;
  font-size: clamp(18px, calc(12px + 3vw), 132px);
  text-wrap:nowrap;
}

.logo-smallest {
  font-family: 'Eracake', 'Trebuchet MS', sans-serif;
  color: var(--bg-color-secondary);
  width: 95%; /* Set width */
  max-width: 95%;
  margin:auto;
  margin-bottom: clamp(-48px, -1vw, -2px);
  font-size: clamp(16px, calc(12px + 2vw), 92px);
  text-wrap:nowrap;
  display: inline-block;
}

.subheading{
  font-family: 'Eracake', 'Trebuchet MS', sans-serif;
  letter-spacing: clamp(0px, 0.5vw, 12px);
  padding: 12px;
  padding-bottom: 12px;
  margin: auto;
  font-size: clamp(30px, 4vw, 128px);
  font-weight: 900;
}

.subheading.view-option-name {
  font-size: clamp(36px, 4vw, 128px);
}

.flex-split {
  display: flex;
  gap: clamp(20px, 2vw, 100px);
  align-items: center;
}

.responsive-svg {
  width: 30%; /* Takes up full width of the container */
  height: auto; /* Maintains aspect ratio */
  max-width: 500px; /* Optional: limit maximum size */
  min-width: 40px;
}

.timer {
  font-family: monospace;
  margin: clamp(20px, 2vw, 40px) clamp(20px, 2vw, 80px);
  padding: clamp(10px, 2vw, 40px) clamp(20px, 2vw, 80px);
  aspect-ratio: 1 / 1;
  border: clamp(2px, 0.5vw, 5px) solid white;
  border-radius: 50%;
  font-size: clamp(20px, 2vw, 128px);
  font-family: monospace;
  font-weight: 900;
  display: flex;
  justify-content: center;  /* Horizontally center */
  align-items: center;      /* Vertically center */
  background-color: var(--bg-color-primary);
  color: var(--text-color-primary);
}

.timer p {
  margin: 0;  /* Remove default margin from <p> */
  transform: scale(1.5); /* Scale the text to make it larger */
  transform-origin: center; /* Ensure scaling happens from the center */
}

/* reformat for mobile */
@media (width < 600px) {

  /* h2 {
    font-size: clamp(18px, 9vw, 3em);
    margin: 0px auto;
  } */

  .subheading {
    font-size: clamp(30px, 12vw, 128px);
  }

  h2.scan-to-join {
    font-size: clamp(18px, 12vw, 200px);
  }

  .instruction {
    font-size: clamp(19px, 6vw, 80px);
  }

  .two-three-container {
    justify-content: center;
    display:block;
    max-width: none;
    width: 100%;
  }
  
  .two-three-container > .container {
    margin: auto;
    margin-top: 12px;
    width: 100%;
    max-width: none;
  }
  
  .expand-to-fit {
    width: 100%;
    max-width: none;
  }
    
    .qr-code {          
      max-width: 600px;
    }
  }

  @media (width < 450px) {
    .container {
      max-width: none;
    }
    .two-three-container {
      max-width: none;
    }
    
  }

  @media (width > 4000px) {
    h2 {
      font-size: 160px;
    }
    .big-button {
      font-size: 80px;
    }
  }