.header {
    display: flex;
    align-items: center; /* Vertically center the items */
    justify-content: space-between; /* Space them evenly across the width */
    padding: 12px;
    background-color: rgb(63, 20, 104);
  }
  
  .header p {
    margin: 0; /* Remove default margins from the <p> tags */
  }